:root {
  font: 18px;
  letter-spacing: 0.18px;
  color-scheme: light dark;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}
